body {
	font-family:'Helvetica', sans-serif;
	overflow-x: hidden;
}
a {
	cursor: pointer;
}
.button {
	border: 1px solid #fefefe;
	color: #fefefe;
	font-size: 1rem;
	margin: 1rem .618rem;
}
/* header */
header {
	position: absolute;
	width: 100%;
	margin: 1rem 0rem;
}
header img {
	height: 35px;
    margin-right: .618rem;
}
/* hero */
section#hero {
	background-image:linear-gradient(61.8deg, #E91E63, #b0003a);
	height: 100vh;
	display: table;
	width: 100%;
	color: #fefefe;
}
section#hero .hero-inner {
	display: table-cell;
	vertical-align: middle;
}
section#hero .egg img {
	height: 188px;
}
/* mobile */
@media (max-width: 641px){
	section#hero .hero-title {
		font-size: 2rem;
	}
}